<%= form_for(@article, html: {multipart: true}) do |f| %>
<ul>
    <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
</ul>
<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :body %>
    <%= f.text_area :body %>
</p>
<p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
</p>
<p>
    <% if @article.image.exists? %>
        <%= image_tag @article.image.url, class: "image_thumb" %>
        <br>
        <%= f.label :image, "Attach a New Image" %>
        <%= f.file_field :image%>
    <% else %>
        <%= f.label :image, "Attach an Image" %>
        <%= f.file_field :image %>
    <% end %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>